.subHeaderContainer {
    background: rgb(104, 75, 255);
    box-shadow: 0px 8.09011px 8.09011px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: .8rem 3rem;
}
.subHeaderTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    display: flex;
    align-items: center;
    color: #F5F5F5;
    margin: 0;
}

.imageDragDropContainer {
    background-color: white;
    height: 300px;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(97, 96, 96);
    font-weight: 400;
}
.imageDragDropContainer:hover {
    border: 1px dashed #D9D9D9;
}

.textarea {
    font-weight: 400;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: .5rem;
    width: 100%;
    min-height: 40px;
    padding: 4px;
}

.list {
    font-weight: 400;
    color: rgb(97, 96, 96);
}
.generateImgBtnWrap{
    margin-top: 8px;
}

.generateImgBtn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    padding: 8px 1.2rem;
    outline: none;
    border: none;
    color: #F5F5F5;
    background: rgb(104, 75, 255);
    box-shadow: 0px 8.09011px 8.09011px rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
    min-width: 300px;
}
.postHeadTitle{
    margin-left: 8px;
    color: rgb(104, 75, 255);
    font-weight: 700;
}

.imageHolderContainer {
    height: 200px;
    background: #FFFEFE;
    border-radius: 1rem;
}
.imageHolderContainer img {
    width: 100%;
    height: 200px;
    border-radius: 1rem;
}
.inlargeMode {
    height: 400px;
}
.inlargeMode img {
    height: 400px;
}
.shareIconsText{
    color: rgb(104, 75, 255);
    align-items: center;
}
@media only screen and (max-width: 1030px){
    .shareIconsText{
        font-size: 12px;
    } 
}
@media only screen and (max-width: 770px){
    .shareIconsText{
        font-size: 10px;
    }
}
@media only screen and (max-width: 430px) {
    .subHeaderTitle {
        font-size: 15px;
    }
    .generateImgBtnWrap{
        display: flex;
        justify-content: center;
    }
    .postHeadTitle{
        font-size: 18px;
    }
    .shareIconsText{
        font-size: 10px;
    }
}

.active {
    color: rgb(104, 75, 255);
}