.twitterPostWrap {
  display: flex;
  border-radius: 5px;
  border: solid 1px rgb(220, 220, 220);
  border-radius: 10px;
  background-color: white;
}

.twitterHeadImgWrap {
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

.twitterHeadImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.twitterPostHeadWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 13px;
  margin-top: 12px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  position: relative;
}

.twitterUserDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.twitterUserName {
  display: flex;
}
.twitterUserName h4{
  font-size: 18px;
}

.twitterUserName p {
  margin-left: 5px;
  font-size: 13px;
}

.twitterHashtag {
  color: rgba(65, 137, 219, 0.773);
  margin-top: 5px;
  text-transform: capitalize;
}

.twitterPostdesc {
  color: gray;
  margin-top: 6px;
  display: flex;
  width: 90%;
}

.twitterPostTime h4 {
  margin-right: 5px;
}

.twitterShowMore {
  position: absolute;
  right: 0px;
  color: gray;
  font-size: 16px;
}

.twitterPostImgWrap {
  margin-bottom: 6px;
  margin-top: 8px;
  border-radius: 10px;
}

.twitterPostImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.twitterCommentWrap {
  display: flex;
  color: gray;
  margin-top: 5px;
  width: 100%;
}

.twitterCmtTab {
  flex: 1;
  display: flex;
  align-items: center;
}

.twitterCmtTab p {
  margin-left: 8px;
}